influxdb-client
python-dotenv
pyModbusTCP
plotly
channels
daphne
django-sass-processor
djangorestframework
django-cors-headers
django-ckeditor
django
pandas
Pillow
whitenoise
gunicorn
argon2-cffi
argon2-cffi-bindings
mysqlclient
psycopg[binary]
django-environ
uvicorn
